/*иконочный щрифт*/
@charset "UTF-8";

 @font-face {
  font-family: 'symbols-technomart';
  src: url('../font/symbols-technomart.eot?22619757');
  src: url('../font/symbols-technomart.eot?22619757#iefix') format('embedded-opentype'),
       url('../font/symbols-technomart.woff?22619757') format('woff'),
       url('../font/symbols-technomart.ttf?22619757') format('truetype'),
       url('../font/symbols-technomart.svg?22619757#symbols-technomart') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-technomart';
    src: url('../font/symbols-technomart.svg?22619757#symbols-technomart') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-technomart";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-left:before { content: '\3c'; } /* '&lt;' */
.icon-right:before { content: '\3e'; } /* '&gt;' */
.icon-basket:before { content: '\62'; } /* 'b' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-vk:before { content: '\76'; } /* 'v' */
.icon-up:before { content: '\2c4'; } /* '˄' */
.icon-down:before { content: '\2c5'; } /* '˅' */
.icon-left-big:before { content: '\2190'; } /* '←' */
.icon-right-big:before { content: '\2192'; } /* '→' */
.icon-login:before { content: '\2386'; } /* '⎆' */
.icon-logout:before { content: '\241b'; } /* '␛' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-circle:before { content: '\25cb'; } /* '○' */
.icon-circle-dot:before { content: '\25cf'; } /* '●' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-youtube:before { content: '\f39e'; } /* '' */
.icon-home:before { content: '🏠'; } /* '\1f3e0' */
.icon-user:before { content: '👨'; } /* '\1f468' */
.icon-phone:before { content: '📞'; } /* '\1f4de' */
.icon-instagramm:before { content: '📷'; } /* '\1f4f7' */
.icon-search:before { content: '🔍'; } /* '\1f50d' */
.icon-bookmark:before { content: '🔖'; } /* '\1f516' */

/*стили страницы*/
body{
	font-family: "Cuprum", "Arial", sans-serif;
	color: #000000;
	padding:0;
	margin:0;
}
.container{
	width: 940px;
	padding: 0 10px;
	margin: auto;
}
.container::after{
	content: "";
	display: table;
	clear: both;
}
.container a{
	text-decoration: none;
}
.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
.container h2{
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	margin:0;
	padding:0;
}
.container h3{
	font-size: 17px;
	line-height: 30px;
	text-transform: uppercase;
	margin:0;
}

.container h2.service-title{
	font-size: 36px;
	color: #32425c;
}
/*_______________________________*/
/*header-main*/
.main-header{
	background-color: #f1f5f7;
	font-family: "Cuprum", "Arial", sans-serif;
	color: #ffffff;
	font-size: 17px;
}
/*first row*/
.header-first-row{
	background-color: #293449;
}
.header-first-row a{
	color: #ffffff;
}
.logo{
	position:relative;
	float: left;	
	text-align: center;
	background-color: #ee3643;
}

.logo a{
	color: #ffffff;
	display: block;
	width: 220px;
	padding: 9px 0;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
}
.logo a::after{
	content: "";
	width: 220px;
	height: 5px;
	background-color: #b52933;
	display: block;
	position: absolute;
	bottom: -5px;
}
.logo a:hover{
	background-color: #ca2c37;
}
.info-block{
	float: left;
	width: 150px;
}
.info-block a{
	display:block;
	font-size: 17px;
	line-height: 18px;
	padding: 14px 0;
}
.info-block i{
	margin-right: 13px;
	margin-left: 14px;
	color: rgba(255,255,255,0.5);
}
.info-block:hover i{
	color: rgba(255,255,255,1)
}
.info-block:active i{
	color: rgba(255,255,255,0.3)
}
.info-block a:hover{
	background-color: #212a3a;
}
.info-block a:active{
	background-color: #161d29;
	color: rgba(255,255,255,0.6);
}
.info-block .full{
	background-color: #ee3643;
}
form.info-block{
	position: relative;
	width: 270px;
}
.icon-search{
	content: "";
	display: block;
	position: absolute;
	top: 13px;
	left: -1px;
}

input[type="search"]{
	color: #ffffff;
	padding: 13px 0;
	margin:0;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 17px;
	line-height: 18px;
	width: 270px;
	padding-left: 45px;
	background-color: #293449;
	border: none;
}
input[type="search"]:focus{
	background-color: #ffffff;
	color: #000000;
}
input[type="search"]:focus + .icon-search{
	color: #ee3643;
}

.order{
	float: right;
	width: 150px;
}
.order a{
	display:block;
	font-size: 17px;
	line-height: 18px;
	padding: 14px 0;
	text-align: center;
	background-color: #63a63e;
}
.order a:hover{
	background-color: #518533;
	color: #a0bb90;
}
/*second-row*/
.header-second-row{
	padding-top: 45px;
	padding-bottom: 40px;
}
.header-description{
	color: #ee3643;
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	width: 200px;
	padding: 0 50px;
	margin-right: 20px;
	float: left;
}
.header-contacts{
	width: 270px;
	margin-right: 20px;
	float:left;
}
.header-contacts .phone a{
	display: block;
	font-size: 21px;
	color: #e9292a;
	padding-left:10px;
	padding-right: 45px;
	padding-top: 8px;
	padding-bottom: 8px;
	border: 3px solid #ffffff;
}
.header-contacts .phone i{
	margin-right: 35px;
	color: #b7bfc8;
}
.header-contacts  p{
	text-align: center;
	margin:0;
	margin-top: 2px;
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}
.user-block{
	width: 300px;
	float: right;
	text-align: left;
	font-size:0;
}
.user-block .login,
.user-block .registration{
	display: inline-block;
	vertical-align: top;
	font-size: 21px;
	padding: 10px 25px;
	background-color: #ffffff;
	color: #000000;
}
.user-block .registration{
	max-width: 100px;
	margin-left: 10px;
}
.user-block .login{
	width: 100px;
	padding-left: 15px;
}

.login i{
	color: #b7bfc8;
	line-height: 25px;
}
.user-block .logined{
	position: relative;
	width: 215px;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 45px;
	padding-right: 40px;
	font-size: 21px;
	line-height: 18px;
	background-color: #ffffff;
}
.user-block .logined a{
	color: #000000;
}
.logined .personal-page:hover{
	color: #000000;
}
.logined .icon-user{
	content: "";
	font-size: 18px;
	position: absolute;
	color: #c5c5c5;
	left: 10px;
	top: 14px;
}
.logined .icon-logout{
	font-size: 18px;
	position: absolute;
	color: #c5c5c5;
	right: 10px;
	top: 14px
}
.user-block .logined a:hover .icon-user,
.logined .icon-user:hover,
.logined .icon-logout:hover{
 color: #32425c;
}
/*.logined .icon-user:hover,
.logined .icon-logout:hover{
	color: #32425c;
}*/
.logined .personal-page:active,
.logined .icon-user:active,
.logined .icon-logout:active{
	color: #c5c5c5;
}

.user-block a:hover{
	color: #ee3643;
}
.login:hover i{
	color: #32425c;
}
.user-block a:active{
	color: #b7bfc8;
}
.personal-navigation{
	display: inline-block;
	vertical-align: top;
	text-align: left;
	max-width: 320px;
	margin-top: 5px;
}
.personal-menu li{
	padding-left: 16px;
	padding-right: 16px;
	position: relative;
}
.personal-menu li::after{
	content: "";
	position: absolute;
	display: block;
	border: 2px solid #32425c;
	border-radius: 50%;
	top: 8px;
	right: 0;
}
.personal-menu li:last-child::after{
	display: none;
}
.personal-menu a{
	color: #32425c;
	font-size: 16px;
	line-height: 18px;
	display: inline-block;
	vertical-align: top;
	text-decoration: underline;
}
.personal-menu a:active{
	color: rgba(50,66,92,0.3);
}

/*main-navigation*/
.main-navigation{
	margin-bottom: 60px;
	background-color: #32425c;
	border-bottom: 5px solid #293449;
	text-align: center;
	padding:0;
}
ul.main-menu {
	list-style: none;
	margin:0;
	padding: 0;
	font-size: 0;
}
.main-menu li{
	display: inline-block;
	vertical-align: top;
}
.main-menu a{
	display: block;
	color: #ffffff;
	font-size: 17px;
	padding: 15px 30px;
}
.main-menu a:hover{
	background-color: #293449;
}

/*footer*/
/*first-row*/
.main-footer{
	font-size: 18px;
	line-height: 24px;
	background-color: #32425c;
}
.main-footer .logo a{
	padding:20px 0;
}

.footer-nav::after{
	content:"";
	display: table;
	clear: both;
}
ul.footer-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0;
}

.footer-menu li{
	font-size: 18px;
	display: inline-block;
	vertical-align: top;
	margin-left: 60px;
}
.footer-menu li:first-child{
	margin-left: 0;
}
.footer-nav-1 .footer-menu{
	padding-top: 35px;
}

.footer-nav-1 a{
	color: #f1f5f7;
}
.footer-nav-2 a{
	color: #ffd180;
}
.footer-menu a:hover{
	text-decoration: underline;
}
.footer-menu{
	float: right;
	max-width: 580px;
}
.footer-first-row{
margin-bottom:30px;
}

/*second-row*/
.footer-second-row{
	margin-bottom: 50px;
}
.footer-contacts{
	float: left;
	width: 330px;
	color: #f1f5f7;
}

/*third-row*/
.footer-third-row {
	background-color: #293449;
	padding: 35px 0;
}
.footer-copyright{
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	float: left;
	width: 320px;
	margin-right: 70px;
}
.footer-social{
	float: left;
	width: 170px;
	margin-right: 80px;
}
.social-btn{
	background-color: #212a3a;
	border: 5px solid #212a3a;
	border-radius: 50%;
	cursor: pointer;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	width: 30px;
}
.social-btn i{
	color: #ffffff;
}
.social-btn:hover {
	background-color: #ee3643;
	border: 5px solid #ee3643;
}
.social-btn:active {
	background-color: #ee3643;
	border: 5px solid #ee3643;
}
.footer-email{
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	float: left;
	width: 160px;
}
.footer-develop{
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	float: right;
	width: 115px;
	padding-left: 25px;
}
.footer-email a,
.footer-develop a{
	color: #ffd180;
}
.footer-email a:hover,
.footer-develop a:hover{
	text-decoration: underline;
}
.footer-email a:active,
.footer-develop a:active {
	color: #ee3743;
	text-decoration: none;
}

/*btn*/
.btn-basic{
	display: inline-block;
	vertical-align: top;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	padding: 10px 20px;
	color: #ffffff;
	background-color: #ee3643;
}
.btn-basic:hover{
	background-color: #ca2c37;
}
.btn-basic:active{
	background-color: #ba2732;
}
/*_______________________________*/
/*technomart-index*/

/*categoires*/
.categories{
	margin-top: 60px;
}
.category{
	float: left;
	width: 300px;
	height: 123px;
	margin-bottom: 20px;
	position: relative;
}

.category::after{
	content: "";
	clear:both;
	display: table;
}

.icon-wrapper{
	z-index: 5;
	position: absolute;
	width: 140px;
	height: 123px;
	top:0;
	right:0;
}

.icon-wrapper i{
	z-index: 20;
	position: absolute;
	background: url(../img/sprite.png) no-repeat;
	display: block;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
}
.category:nth-child(1),
.category:nth-child(2){
	margin-right: 20px;
}
.category p{
	color: #ffffff;
	font-size: 24px;
	font-weight: bold;
	margin-left: 20px;
	margin-bottom: 13px;
}
.category a{
	display: block;
	text-align: center;
	color: #ffffff;
	margin-left: 20px;
	width: 135px;
	font-size: 14px;
	text-transform: uppercase;
	padding-top: 7px;
	padding-bottom: 7px;
	background-color: rgba(0,0,0,0.1);
}
.category a:hover{
	background-color: rgba(0,0,0,0.2);
}
.category a:active{
	background-color: rgba(0,0,0,0.3);
}
.category-material{
	background-color: #f6b22d;
}
.category-material .flag-new{
	display: block;
}
.category-material .icon{
	width: 44px;
	height: 65px;
	background-position: -480px -149px;
}
.category-instrument{
	background-color: #4aafde;
}
.category-instrument .icon{
	 width: 75px;
    height: 61px;
    background-position: -949px -78px;
}
.category-technic{
	background-color: #cc79d1;
}
.category-technic .icon{
	width: 78px;
	height: 62px;
	background-position: -949px -231px;
}
.category-sale {
	background-color: #85d179;
}
.category-sale .icon{
	width: 59px;
	height: 72px;
	background-position: -949px -149px;
}

.category-delivery{
	background-color: #f6b22d;
}

.category-delivery .icon{
	width: 78px;
	height: 63px;
	background-position: -949px -5px;
}
.adv-slider{
	position: relative;
	float: left;
	width: 620px;
	height: 265px;
	margin-right: 20px;
	color: #ffffff;
	
}
.adv-slider .arrows {
	position: absolute;
	width: 620px;
	height: 50px;
	top: 110px;
	z-index: 40;
	font-size: 45px;
}
.adv-slider .arrows-right{
	float: right;
	cursor:pointer;
}
.adv-slider .arrows-left{
	cursor:pointer;
}
 .slider-controls{
	position: absolute;
	width: 80px;
	left: 50%;
	 height: 12px;
	 margin-left: -40px;
	 bottom: 35px;
	 text-align: center;
	 font-size: 0;
	 z-index: 40;
}
.adv-slider input[name="toggle"]{ 
	opacity: 0;
	position: absolute;
	
}
.slider-controls label{
	content: "";
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #ffffff;
	border: 2px solid #ffffff;
	margin-right: 10px;
	cursor: pointer;
}
.slider-controls label:last-child{
	margin-right: 0;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"] { 
    background:#ee3643;
}

.slider-controls .arrows{
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 30px;
	font-size: 45px;
	line-height: 45px;
}
.slider-controls .arrows::after{
	content: "";
	clear:both;
	display: table;
}
.slider-controls .arrows-left{
	float: left;
	cursor: pointer;
}
.slider-controls .arrows-right{
	float: right;
	cursor: pointer;
}
.adv-slides{
	position: absolute;
	width: 100%;
	height: 100%;
}
.adv-slide{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	display: none;
}
.adv-slide:nth-child(1){
	background: url("../img/perf_slider_1.jpg") no-repeat 0 0; 
}
.adv-slide:nth-child(2){
	background: url("../img/perf_slider_2.jpg") no-repeat 0 0;
}

.adv-title h2{
	font-size: 36px;
	line-height: 30px;
	margin-top: 25px;
	margin-left: 23px;
}
.adv-title p{
	margin-top:3px;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 18px;
	margin-left: 25px;
}

.adv-slide .btn-basic{
	position: absolute;
	 bottom: 20px;
	margin-left: 25px;
	width: 155px;
}
#btn-1:checked ~ .adv-slides .adv-slide:nth-child(1) { 
    display: block;
}
#btn-2:checked ~ .adv-slides .adv-slide:nth-child(2) { 
    display: block;
}




/*popular-items*/
.popular-title{
	background-color: #f7f3ec;
	color: #32425c;
	padding: 25px 25px;
	margin-top: 30px;
	margin-bottom: 20px;
}
.popular-title h2{
	margin-top:4px;
	max-width: 590px;
	float: left;
	font-size: 30px;
	font-weight: normal;
}
.popular-title .btn-basic{
	max-width: 275px;
	float: right;
	padding-left: 60px;
	padding-right: 60px;
}
.catalog-item{
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: bold;
	position: relative;
	float: left;
	margin-bottom: 20px;
	margin-right: 20px;
	width: 218px;
	border: 1px solid #e5e5e5;
}
.catalog-item:last-child{
	margin-right: 0;
}
.catalog-item:hover{
	box-shadow: 0 0 20px -5px;
}
.catalog-item:hover .actions{
	display: block;
}
.flag-new{
	z-index:20;
	position:absolute;
	right:0;
	width: 60px;
	height:60px;
	background: url(../img/sprite.png) no-repeat -480px -5px;
	display: none;
}
.popular .catalog-item:nth-child(4) .flag-new{
	display:block;
}
.catalog-item .img-wrapper{
	width: 218px;
	height: 160px;
}
.catalog-item .title{
	text-transform: none;
	font-size: 18px;
	text-align: center;
	line-height: 20px;
	margin-top: 20px;
	padding: 0 25px;
}

.catalog-item .price-ex{
	font-size: 17px;
	font-weight: bold;
	color: #999999;
	text-align: center;
	min-height: 35px;
	line-height: 35px;
	text-decoration: line-through;
}
.actions{
	position: absolute;
	display: none;
	padding: 30px 0;
	width: 218px;
	background-color: #ffffff;
}

.actions .btn{
	margin: 0 auto;
	display: block;
	width: 129px;
	text-align: center;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	padding: 7px 0;
	border: 3px solid #63a63e;
	border-radius: 3px;
	color: #32425c;
}
.actions .buy{
	background-color: #63a63e;
	border-bottom-color: #367315;
	color: #ffffff;
	margin-bottom:7px;
}
.actions .buy:hover{
	background-color: #5fbb2d;
	border-color: #5fbb2d;
	border-bottom-color: #367315;
}
.actions .buy:active{
	background-color: #518534;
	border-color: #518534;
}
.actions .bookmark:hover{
	border-color: #33435d;
}
.actions .bookmark:active{
	border-color: #c1c6ce;
	color: #c1c6ce;
}
.catalog-item .price{
	position: relative;
	background-color: #ee3643;
	color: #ffffff;
	font-size: 17px;
	line-height: 20px;
	font-family: "PT Sans", "Arial", sans-serif;
	padding: 10px 0;
	font-weight: bold;
	width: 140px;
	margin: 0 auto;
	margin-bottom: 20px;
	text-align: center;
	border-radius: 3px;
}
.price::after{
content:"";
    position:absolute;
    top:0;
    right:-20px;
    width:0;
    height:0;
    border:20px solid white;
    border-left-color:#ee3643;
}



/*popular-produser*/

.produser-item{
	width: 218px;
	height: 145px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	position: relative;
	border: 1px solid #e5e5e5;
	
}
.produser-item:hover{
	box-shadow: 0 0 20px -5px black;
}
.produser-item:active{
	opacity: 0.3;
}
.produser-item img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.produser-item:nth-child(4n){
	margin-right: 0;
}

/*services*/
.services{
	background-color: #f2f6f8;
	padding-top: 30px; 
	padding-bottom: 100px;
}

.services h2,
.company h2{
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	font-weight: normal;
	margin-top: 35px;
	margin-bottom: 25px;
}
.services-exp{
	margin-bottom: 70px;
}
.services p{
	margin:0;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
}

ul.services-select{
	list-style: none;
	padding:0;
	margin:0;
	position: relative;
	width: 220px;
	float: left;
	margin-right: 80px;
}
.service-description{
	z-index:5;
	float: left;
	width: 620px;
	position: relative;
}
.service-description p{
	width: 370px;
	
}
.service-description h2{
	margin-top: 0;
}

.services-select a{
	display: block;
	padding: 15px 0;
	padding-left: 20px;
	font-family: "Cuprum", "Arial", sans-serif;
	box-shadow: inset 0 -1px 0 0 #293449;
	font-size: 21px;
	line-height: 30px;
	font-weight: bold;
	color: #ffffff;
	background-color: #32425c;
}
.services-select a:hover {
	background-color: #293449;
}
.services-select .active a:hover{
	background-color: #293449;
	color:  #ffffff;
}
.services-select li:last-child a{
	box-shadow: none;
}

.services-select .active a{
	color: #32425c;
	background-color: #ffffff;
}

.service-description::after{
	z-index:2;
	content: "";
	position: absolute;
	right: 0;
	top: 20px;
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
	display: block;
}
.delivery .service-description::after{
	width: 468px;
	height: 261px;
	background-position: -5px -300px;
}
.garanty .service-description::after{
	right: 10px;
	top: -5px;
	width: 389px;
	height: 283px;
	background-position: -550px -5px;
}
.credit .service-description::after{
	right: -20px;
	top: -5px;
	width: 465px;
	height: 285px;
	background-position: -5px -5px;
}
.credit .btn-basic{
	margin-top: 25px;
	width: 195px;
}

.service-item:after{
	content: "";
	display: table;
	clear: both;
}
.garanty,
.credit{
	display: none;
}
.service-item{
	position: relative;
}
.service-item:after{
	content: "";
	background: url("../img/separator-fon.png");
	width: 10px;
	height: 272px;
	display: block;
	position: absolute;
	top:-45px;
	left: 210px;
}
/*company*/
.company{
	margin-top: 45px;
	margin-bottom: 85px;
}
.company p{
	margin-bottom: 25px;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
}
.about-company{
	float: left;
	width: 540px;
}
.company .contacts{
	margin:0;
	float: right;
	width: 300px;
}
ul.transp-campany{
	max-width: 300px;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 18px;
	line-height: 20px;
	list-style: none;
	padding:0;
	margin:0;
	padding-left: 35px;
}
.transp-campany li{
	position: relative;
	margin-bottom: 15px;
}
.transp-campany li::before{
	content: "";
	width: 25px;
	height: 2px;
	background-color: #fb565a;
	display: block;
	position: absolute;
	left: -35px;
	top: 10px;
}
.about-company .btn-basic{
	margin-top: 20px;
	width: 220px;
}
.contacts p{
	width: 200px;
}
.contacts .map-small{
	width: 300px;
	height: 158px;
	background: url("../img/map.jpg") no-repeat 0 0;
	margin-top: 5px;
	margin-bottom: 27px;
}
.contacts .btn-basic{
	padding-left:0; 
	padding-right: 0;
	text-align: center;
	display: block;
	width: 100%;
}



/*________________________________-*/
/*technomart-catalog*/
/*header*/
.login {
	max-width: 300px;
}
ul.personal-menu{
	list-style: none;
	padding:0;
}
.personal-menu li{
	display: inline-block;
	vertical-align: top;
}

/*breadcrumbs*/
.breadcrumbs{
	margin-top: 20px;
	margin-bottom: 20px;
}
ul.breadcrumbs-menu{
	list-style: none;
	font-size: 0;
	padding: 0;
}
.breadcrumbs-menu li{
	position: relative;
	font-size: 13px;
	display: inline-block;
	vertical-align: top;
	padding-right: 34px;
}
.breadcrumbs-menu a{
	color: #000000;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	text-transform: uppercase;
}
.breadcrumbs-menu li:first-child a{
	color: #c1c6ce;
}
.breadcrumbs-menu li::after{
	content: '\3e';
	position: absolute;
	right: 16px;
	color: #c1c6ce;
	font-size: 14px;
}
.breadcrumbs-menu .active::after{
	display: none;
}

.sector-title{
	background-color: #f2f6f8;
	padding: 30px 0;
	padding-left: 30px;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	color: #32425c;
	margin-bottom: 20px;
}

.left-column{
	float: left;
	width: 220px;
	margin-right: 20px;
}
.right-column{
	float: right;
	width: 700px;
}
.box{
	background-color: #f7f3ec;
	padding: 10px 15px;
	margin-bottom: 20px;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
}
/*form select*/

/*select-price*/
.select fieldset{
	border: none;
	border-bottom: 1px solid #e5e5e5;
	font-family: "PT Sans", "Arial", sans-serif;/*!!!!!!!!!!!!!!!!!!!!!!!!!*/
	margin:0;
	padding:0;
	padding-bottom: 15px;
	margin-bottom: 18px;
}
.select legend{
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.select .select-aliment{
	border:none;
}

.range-controls {
 	position: relative;
 	height: 40px;
	padding: 0 30px;
 	padding-top: 38px;
	background-color:  #f7f3ec;
	margin-bottom: 10px;
}

.range-controls .scale {
	height: 2px;
	background: #d7dcde;
}

.range-controls .bar {
	width: 100%;
	height: 2px;
	background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 30px;
}

.range-controls .toggle-max {
  left: 170px;
}

.price-controls {
	font-size: 0;
	text-align: justify;
}
.price-controls .price-bar{
	display: inline-block;
	vertical-align: middle;
	padding:0;
	margin:0;
}
.price-controls::after{
	display: inline-block;
	vertical-align: middle;
	visibility: hidden;
	overflow: hidden;
	width: 100%;
	height: 0;
	content: "";
}

.price-controls input[type="text"]{
	font-size: 17px;
	line-height: 18px;
	font-family: "PT Sans", "Arial", sans-serif;
	display: inline-block;
	width: 95px;
	background-color: #f7f3ec;
	padding: 10px 0;
	text-align: center;
	border: none;
	border-radius: 5px;
	outline: none;
}


.select label{
	display: block;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
	margin-bottom: 15px;
	padding-left: 35px;
	position: relative;
}
.select input{
	display: none;
}
.select-producer label::before{
	content: '\2610';
	display: block;
	position: absolute;
	left:0;
	font-size: 28px;
	color: #c1c1c1;
}
.select-producer input:checked + label::before{
	content: '\2611'; 
}
.select-element label::before{
	content: '\25cb'; 
	display: block;
	position: absolute;
	left:0;
	top:0;
	font-size: 28px;
	color: #c1c1c1;
}
.select-element input:checked + label::after{
	content: '\25cf';
	position: absolute;
	display: block;
	font-size: 10px;
	color: #c1c1c1;
	left: 2.5%;
	top: 8%;
}
.select button{
	background-color: #ffffff;
	text-transform: uppercase;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	border: 1px solid #c1c1c1;
	border-radius: 3px;
	width: 140px;
	padding: 10px;
	margin-top: 40px;
	cursor: pointer;
}


/*sorting*/
.right-column .box{
	padding-bottom: 6px;
}
.sort-title{
	float: left;
	width: 150px;
}
.sort-menu{
	float: right;
	margin-left: 55px;
}
.sort-menu a{
	color: rgba(0,0,0,0.3);
	border-bottom: 1px dashed #ee3643;
}
.sort-menu .active{
	color: #ee3643;
	border-bottom: none;
}
.sort-menu a:hover{
	color: rgba(0,0,0,1);
	border-bottom: 1px solid #ee3643;
}
.sort-menu .arrows{
	font-size: 23px;
	border-bottom: none;
}
.sort-menu .arrows:hover{
	border-bottom: none;
}


/*catalog-item*/
.right-column .catalog-item:nth-child(3n)
{
	margin-right: 0;
	margin-bottom: 20px;
}

.right-column .catalog-item:nth-child(3) .flag-new,
.right-column .catalog-item:nth-child(5) .flag-new,
.right-column .catalog-item:nth-child(7) .flag-new{
	display: block;
}


/*paginator*/
.paginator{
	margin-top: 40px;
	font-size: 0;
}
.paginator a{
	background-color: #ffffff;
	display: inline-block;
	color: #000000;
	vertical-align: top;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	height: 38px;
	width: 38px;
	line-height: 38px;
	margin-right: 10px;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	text-align: center;
	text-transform: uppercase;
}
.paginator a:hover{
	border: 1px solid #bdc6ca;
}
.paginator a:active{
	border: 1px solid #ee3643;
}

.paginator .current{
	background-color: #ee3643;
	color: #ffffff;
}
.paginator .next{
	width: 140px;
}

/*perf-descr*/
.perf-descr{
	padding: 60px 0;
	background-color: #f2f6f8;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
	margin-top: 60px;
}
.perf-descr h2{
	margin-bottom: 30px;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	font-weight: normal;
}
/*_____________________________*/
/*modal windows*/

/*write us*/
.modal-window{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 620px;
	margin-left: -310px;
	margin-top: -215px;
	display: none;
	z-index: 50;
	box-shadow: 0 5px 20px rgba(0,0,0,0.8);	
}
.modal-close{
	position: absolute;
	content: "";
	display: block;
	top: 15px;
	right: 10px;
	width: 22px;
	height: 22px;
	cursor: pointer;
	z-index: 40;
	background: url(../img/sprite.png) no-repeat -18px -13px;
}
.write-us-form{
	font-size: 18px;
	box-shadow: 0 0 35px rgba(0,0,0,0.7);
	
}
.modal-window .modal-first-row{
	background-color: #ffffff;
	border: none;
	border-top: 7px solid #ee3643;
	margin:0;
	padding-top: 45px;
	padding-bottom: 20px;
	padding-left: 80px;
	padding-right: 80px;
}

.write-us-form .name{
	float: left;
}
.write-us-form .email{
	float: right;
}
.write-us-form .text{
	display: block;
	clear: both;
}
.write-us-form input,
.write-us-form textarea
{
	display: block;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	border: 2px solid #d7dcde;
	margin-top: 10px;
	margin-bottom: 20px;
}
.write-us-form input{
	padding: 10px 12px;
	width: 192px;
}
.write-us-form textarea{
	padding: 10px 12px;
	width: 432px;
}
.modal-window .button-form{
	background-color: #f1f1f1;
	border:none;
	padding:0 80px;
	margin:0;
	/*font-size:0;*/
}
.button-form .btn-basic{
	border: none;
	outline: none;
	width: 220px;
	padding-left: 0;
	padding-right:0;
	margin-top: 35px;
	margin-bottom: 35px;
}
.button-form .btn-reset{
	background-color: #ffffff;
	color: #000000;
	float: right;
}
.button-form .btn-reset:hover{
	color: #ee3643;
}

/*map*/
.modal-window-map{
	display: none;
	position: fixed;
	content: "";
	top: 50%;
	left: 50%;
	margin-left: -470px;
	margin-top: -225px;
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	width: 940px;
	height: 450px;
	background: url("../img/big-map.jpg") no-repeat 0 0;
	box-shadow: 0 5px 20px rgba(0,0,0,0.8);	
	z-index: 55;
}

.modal-window-show{
	display: block;
}

/*modal-basket*/
.modal-basket .modal-first-row{
	font-size: 30px;
	line-height: 30px;
	padding-left: 180px;
	position: relative;
	padding-top: 60px;
	padding-bottom: 60px;
	
}
.modal-basket .modal-first-row::before{
	content: "";
	display: block;
	position: absolute;
	top: 25px;
	left:75px;
	width: 80px;
	height: 80px;
	background-image: url("../img/sprite.png");
	background-position: 107px 115px;
}









